/*
html, body, .container {
  height: 100%;
}
*/
/* Reset */
html, body, h1, p, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  color: #238cce;
}


/* Basic */
body {
  font: 18px/23px "Calibri", sans-serif;
  color: #d5cdf8;
}

div.caja {
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-align: left;
background: #7b1616;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px solid #5878ca;
opacity: 0.8;
}


div.botonEditar {
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-align: center;
background: #6eca58;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px solid #6eca58;
opacity: 0.9;
}

div.botonBorrar {
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-align: center;
background: #ff1a00;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px solid #f0ff00;
opacity: 0.9;
}


h1 {
  color: #728a14;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}

h2 {
  color: #728a14;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}

h3 {
  color: #728a14;
  text-transform: uppercase;
  font-size: 5px;
/*  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;*/
}

a {
  color: #ffffff;
  cursor:pointer;
}

a.accordion {
  color: #962020;
  cursor:pointer;
}

a.mod {
  color: #26de4f;
  cursor:pointer;
}


p {
  margin: 0 0 15px 0;
  color: #ffffff;
}

p.mod {
  margin: 0 0 15px 0;
  color: #00f5ff;
}

strong {
  font-weight: 700;
}

img {
	width: 100%;
	height: 100%;
}


.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  z-index: 9999;
  position: fixed;
}

  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

.navbar a {
  display: inline-block;
  /*border: 1px solid #fff;*/
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 5px;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.content-contacto{
  vertical-align: middle;
  text-align: center;
}

/* Special */
.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #03F;
  border: 1px solid #cafaea;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

#more-content {
  display: none;
}


/* Estilos para que en el fondo se vea la imagen ocupando toda la pantalla*/
body {
margin : 0;
padding : 0;
/*background : url(bck.jpg) top left no-repeat;*/
	background-image: url(../img/bck.jpg);
	/* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
	background-position: center center;
	/* La imagen de fondo no se repite */
	background-repeat: no-repeat;
	/* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
	background-attachment: fixed;
	/* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
	background-size: cover;
	/* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
	background-color: #464646;
}
/* Fin Estilos para que en el fondo se vea la imagen ocupando toda la pantalla*/


/*Estilos de la barra navegador*/
#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
/*estilo por defecto*/
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #ffffff;
/*   background-color: #09F;
   border: 1px solid #006;*/
   text-decoration: none;
   opacity:77%;
}
/*estilo con mouse encima*/
#navegador li a:hover{
   background-color: #06F;
   color: #ffffff;
   opacity:88%;
}
/* Fin Estilos del navegador*/
